# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Archivos generados por Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
flutter_*.yaml

# Archivos de configuración específicos de IDEs
.idea/
*.iml
*.ipr
*.iws

# Archivos específicos de Visual Studio Code
.vscode/
*.code-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de log y temporales
*.log
*.tmp

# Archivos específicos de macOS
*.plist

# Archivos específicos de Windows
*.dll
*.exe
*.pdb
*.obj
*.idb
*.lib
*.log
*.exp
*.ipa

# Archivos específicos de Linux
*.so

# Archivos de crash y depuración
*.crash
*.stacktrace

# Archivos y carpetas de prueba (opcional)
test/output/
test/tmp/

